#alvyraysmith {
    background: radial-gradient(darkcyan, #333);
}

#sommerer {
    background: radial-gradient(darkgreen, #333);
}

#paulbrown {
    background: radial-gradient(purple, #222);
}

#wolf {
  background: radial-gradient(burlywood, #222);
}

#brendalaurel {
    background: radial-gradient(darkseagreen, #222);
}

#ernestedmonds {
    background: radial-gradient(firebrick, #222);
}

#davidem {
    background: radial-gradient(darkkhaki, #222);
}

#joannazylinska {
    background: radial-gradient(magenta, #222);
}

#fleischmann {
    background: radial-gradient(rgb(31, 144, 137), #222);
}

#keywords {
    background: radial-gradient(black, #333);
    width: 100%;
    min-height: 100vh;
}

#about {
    background: radial-gradient(black, #222);
    width: 100%;
    min-height: 100vh;
}

#nickmontfort {
    background: radial-gradient(brown, #222);
}

#annickbureaud {
    background: radial-gradient(darkgoldenrod, #222);
}

#behnazfarahi {
    background: radial-gradient(rgb(30, 115, 160), #222);
}

#richardlowenberg {
    background: radial-gradient(rgb(211, 195, 40), #222);
}

#billseaman {
    background: radial-gradient(gray, #222);
}

#aaronmarcus {
    background: radial-gradient(rgb(208, 228, 235), #222);
}

#royascott {
    background: radial-gradient(rgb(159, 151, 130), #222);
}

#YoichiroKawaguchi {
    background: radial-gradient(navy, #222);
}

#richardchuang {
    background: radial-gradient(darkslategray, #222);
}

#rogermalina {
    background: radial-gradient(rgb(147, 96, 105), #222);
}

#charlesbaldwin {
    background: radial-gradient(cornflowerblue, #222);
}
